@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    
    <div class="menu">
        <ul>
            <li><a href="@Url.Action("WeatherArchive", "Home")">Просмотр архивов погодных условий в городе Москве</a></li>
            <li><a href="@Url.Action("UploadWeatherArchive", "Home")">Загрузка архивов погодных условий в городе Москве</a></li>
        </ul>
    </div>
</div>
