@{
    ViewData["Title"] = "Upload Weather Archive";
    var a = ViewData["a"];
}

<div class="text-center">
    <h1 class="display-4">UploSad Weather Archive </h1>
    <form asp-controller="Home" asp-action="Button_Moscow_2010_Clicked" method="post">
    <button type="submit">Москва 2010</button>
    </form>
    <form asp-controller="Home" asp-action="Button_Moscow_2011_Clicked" method="post">
    <button type="submit">Москва 2011</button>
    </form>
    <form asp-controller="Home" asp-action="Button_Moscow_2012_Clicked" method="post">
    <button type="submit">Москва 2012</button>
    </form>
    <form asp-controller="Home" asp-action="Button_Moscow_2013_Clicked" method="post">
    <button type="submit">Москва 2013</button>
    </form>
    <!-- Your content for upload weather archive page -->
</div>
